#timer {
	position: absolute;
	top: 10vh;
	right: 2vw;
	font-size: 3rem;
	word-break: break-all;
}

#timer #time-left {
	color: red;
	font-size: 3.5rem;
}

.custom {
	height: 45%;
}

#hard-mode-button[state="on"] {
	background-color: #080;
	box-shadow: 0 0 0.5em #0f0;
	border-color: #060;
}

#hard-mode-button[state="off"] {
	background-color: #09f;
	box-shadow: 0 0 0.5em #0ff;
	border-color: #07b;
}

@keyframes rotate {
	0% {
		transform: rotateX(0deg);
		background: var(--color);
	}

	49% {
		transform: rotateX(90deg);
		background: var(--color);
	}

	50% {
		background: linear-gradient(
			135deg,
			rgba(121, 184, 81, 1) 0%,
			rgba(121, 184, 81, 1) 49%,
			rgba(243, 194, 55, 1) 50%,
			rgba(243, 194, 55, 1) 100%
		);
	}

	100% {
		transform: rotateX(0deg);
		background: linear-gradient(
			135deg,
			rgba(121, 184, 81, 1) 0%,
			rgba(121, 184, 81, 1) 49%,
			rgba(243, 194, 55, 1) 50%,
			rgba(243, 194, 55, 1) 100%
		);
	}
}
