:root {
	--background-color: #fdfcdc;
	--background-color2: #fed9b7;
	--accent-color: #0081a7;
	--text-color: #01161e;
	--disable-color: #333;
	--text-color-light: #feeae1;
}

body,
html {
	margin: 0 !important;
	padding: 0 !important;
	min-height: 100vh;
}

* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

body {
	background-color: var(--background-color);
	background-size: 200% 200%;
	background-image: radial-gradient(#ffdf9e 70%, transparent 25%);
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 5vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer {
	position: sticky;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 5vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	background-color: var(--disable-color);
	color: var(--text-color);
}

footer .footer-option {
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--accent-color);
}

img.icon {
	width: calc(10vh / 3);
}
