html.light {
	--bg: #ffffff;
	--txt: #000000;
	--header: #555555;
	--footer: #000000;
	--hftxt: #dddddd;
	--img: url(dark.png);
	--ibg: #f5f5f5;
	--itxt: #000000;
}

html.dark {
	--bg: #333333;
	--txt: #ffffff;
	--header: #777777;
	--footer: #000000;
	--hftxt: #ffffff;
	--img: url(light.png);
	--ibg: #555555;
	--itxt: #cccccc;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

* {
	user-select: none;
	transition: background-color 500ms ease-in-out;
	-webkit-text-size-adjust: none !important;
}

body {
	background-color: var(--bg);
	color: var(--txt);
	display: flex;
	justify-content: baseline;
	align-items: center;
	flex-direction: column;
}

div#back {
	display: block;
	margin: 1vh;
	height: 6vh;
	width: 6vh;
	background-image: url(icons/main-icon.jpg);
	background-size: contain;
	cursor: pointer;
}

header {
	width: 100vw;
	height: 8vh;
	background-color: var(--header);
	color: var(--hftxt);
	font-size: 5vh;
	font-weight: bolder;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

header div#title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transform: translateY(-2vh);
	height: 6vh;
}

#theme-switch {
	cursor: pointer;
	margin-right: 1vh;
	width: 6vh;
	height: 6vh;
	background-image: var(--img);
	background-size: 6vh 6vh;
}

#settings-button {
	width: 6vh;
	height: 6vh;
	background-image: url(icons/settings-icon.png);
	background-color: transparent;
	border: none;
	background-size: 6vh 6vh;
	background-repeat: no-repeat;
	background-position: right;
	cursor: pointer;
}

#settings {
	padding: 1em;
	background-color: #101010;
	border: 0.4em solid #000;
	border-radius: 2em;
	box-shadow: 0 0 2em #000;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 6vh;
	height: 6vh;
	color: white;
}

#settings button,
#settings input {
	margin: 0.5em;
	height: 2em;
	width: 10em;
	background-color: #878787;
	opacity: 1;
	border-radius: 1em;
	box-shadow: 0 0 0.5em #ddd;
	font-weight: bold;
	transition: background-color 0.5s linear, box-shadow 0.5s ease-in-out;
}

#settings input {
	font-size: larger;
	height: 1.25em;
}

#settings button:hover {
	background-color: #555;
	box-shadow: 0 0 0.8em #fff;
}

#settings button:active {
	background-color: #333;
	box-shadow: 0 0 0.5em #fff;
	color: #aaa;
}

main {
	width: 100vw;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

footer {
	width: 100vw;
	height: 5vh;
	background-color: var(--footer);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--hftxt);
	font-size: x-large;
	letter-spacing: 0.15em;
	text-shadow: 0 0 1.25em white;
}

footer a {
	color: blue;
	letter-spacing: 0.25em;
	margin: 0.5em;
	text-decoration: none;
	text-shadow: 0 0 0.75em white;
}

#question-mark {
	width: 6vh;
	height: 6vh;
	background-image: linear-gradient(#0091ff, #0069ff, #0047ff);
	border-radius: 3vh;
	font-size: 4.5vh;
	font-weight: bolder;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin: 0;
}

@media screen and (max-width: 900px) {
	header {
		font-size: large;
	}
}
