* {
	transition: background-color 200ms ease-in-out;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

html.light {
	--lbg: #fff;
	--dbg: #666;
	--lrbg: #999;
	--ltxt: #000;
	--dtxt: #fff;
}

html.dark {
	--lbg: #444;
	--dbg: #999;
	--lrbg: #666;
	--ltxt: #fff;
	--dtxt: #000;
}

dialog {
	width: 70vw;
	height: 80vh;
	background-color: rgba(127, 127, 127, 0.95);
	border: 2vh solid rgba(0, 0, 0, 0.75);
	border-radius: 5vh;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

dialog > div {
	height: 95%;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
}

dialog form {
	height: 70%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

dialog form tr {
	height: 5em;
}

dialog form tr:first-child {
	height: 1em;
}

dialog form tr:first-child td {
	text-align: center;
	height: 1.25em !important;
	color: var(--ltxt);
	font-size: large;
}

dialog form tr td:first-child {
	display: flex;
	justify-content: end;
	align-items: center;
	height: 5em;
}

label {
	height: 1.75em;
	font-size: medium;
	color: var(--ltxt);
}

dialog form label {
	display: flex;
	justify-content: end;
	align-items: center;
}

dialog form input[type="text"] {
	margin-left: 1vw;
	height: 1.75em;
	width: 8em;
	font-size: medium;
	color: var(--ltxt);
	background-color: var(--lbg);
}

dialog form input:disabled {
	filter: brightness(75%);
	cursor: not-allowed;
}

dialog form .rotor-outputs-input {
	display: unset;
	width: 18em !important;
}

main {
	width: 100vw;
	height: 88vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	background-color: var(--lbg);
	color: var(--ltxt);
}

#inputarea {
	width: 80%;
	height: 5em;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#inputarea button,
dialog input[type="reset"],
dialog button,
dialog div.button {
	padding: 2px;
	border: 3px outset var(--dbg);
	width: auto;
	height: 1.75em;
	background-color: var(--lrbg);
	color: var(--ltxt);
	font-size: large;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

#inputarea input {
	margin-left: 1em;
	background-color: var(--lrbg);
	color: var(--ltxt);
	font-size: large;
	height: 1.75em;
}

#inputarea input::-webkit-inner-spin-button {
	height: 2em;
}

#textarea {
	padding: 1em;
	width: 80%;
	height: 20vh;
	background-color: var(--dbg);
	color: var(--dtxt);
	font-size: larger;
	border-radius: 1em;
	word-break: break-all;
	overflow-y: auto;
	user-select: text;
}

#keyboard,
#lights {
	width: 80%;
	height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@media screen and (max-width: 600px) {
	#keyboard,
	#lights {
		width: 100%;
		height: 35vh;
	}

	.light,
	.keyboard-key {
		width: 3em !important;
		height: 3em !important;
	}
}

#keyboard .keyboard-row,
#lights .lights-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.lights-row .light {
	width: 2em;
	height: 2em;
	background-color: var(--lrbg);
	color: var(--ltxt);
	font-size: 2.5vw;
	border: 3px solid var(--ltxt);
	border-radius: 1.75em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2px;
}

.keyboard-row .keyboard-key {
	width: 1.75em;
	height: 1.5em;
	background-color: var(--dbg);
	color: var(--dtxt);
	font-size: 2.5vw;
	border: 5px inset var(--ltxt);
	border-radius: 1.25em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1px;
	cursor: pointer;
}

#plugboard .plugboard-row {
	display: flex;
	justify-content: center;
	align-items: center;
}

#plugboard .plugboard-row .plug-key {
	margin: 0.5em;
	height: 5em;
	width: 2.5em;
	border: 2px solid black;
	background-color: var(--lrbg);
	border-radius: 2em;
	color: var(--ltxt);
	font-size: larger;
	font-weight: bold;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

#plugboard .plugboard-row .plug-key::before {
	content: "";
	display: block;
	width: 0.7em;
	height: 0.7em;
	background-color: rgb(40, 40, 40);
	border: 0.1em solid black;
	border-radius: 50%;
}

#plugboard .plugboard-row .plug-key::after {
	content: "";
	display: block;
	width: 0.7em;
	height: 0.7em;
	background-color: rgb(40, 40, 40);
	border: 0.1em solid black;
	border-radius: 50%;
}
