#settings div {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: start;
}

#settings #first-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
}

#settings #first-div div {
	margin: 0.5em;
	height: 2em;
	width: 15em;
	background-color: #666666;
	opacity: 1;
	border-radius: 1em;
	box-shadow: 0 0 0.5em #ddd;
	font-weight: bold;
	transition: background-color 0.5s linear, box-shadow 0.5s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	border: 3px inset black;
}

#settings #first-div div:hover {
	background-color: #555;
	box-shadow: 0 0 0.8em #fff;
}

#settings #first-div div:active {
	background-color: #333;
	box-shadow: 0 0 0.5em #fff;
	color: #aaa;
}

#settings label {
	position: relative;
	top: 1vh;
}

@media screen and (max-width: 800px) {
	#settings,
	#settings *,
	#settings * * {
		font-size: small;
	}

	#settings {
		height: 70%;
	}

	input[type="number"] {
		width: 3em;
	}
}

input[type="checkbox"]:not(:checked) {
	background-color: red;
}

input[type="checkbox"]:checked {
	background-color: green;
}

.win-block {
	position: absolute;
	top: 40vh;
	width: 25vw;
	height: 20vh;
	border: calc(min(2vw, 2vh)) solid white;
	border-radius: 4vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10vh;
	opacity: 0;
}

.win-block[player="1"] {
	left: 5vw;
}

.win-block[player="2"] {
	right: 5vw;
}

#again {
	background-color: #000080;
	font-size: larger;
	border-radius: 2em;
	color: #dddd99;
	padding: 0.5em;
	margin-top: -3em;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
	transition: all 500ms ease-out;
	opacity: 0;
}

#again:hover {
	font-size: x-large;
	padding: 0.25em;
	margin-top: -2.5em;
	border-width: 3px;
	background-color: #000060;
}

#again:active {
	font-size: large;
	padding: 0.35em;
	margin-top: -3em;
	border-width: 2px;
	background-color: #000040;
}
