.board {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 66.6%;
	margin: 2%;
}

.vertical {
	flex-direction: column;
}

.brd_row .letter {
	margin: 0.2rem;
}

.board .vertical .letter {
	width: 2.5em;
}
