@import url("../default.css");

main {
	/* padding: 0 5vw; */
	margin-left: 2.5vw;
	width: 95vw;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
}

main div {
	margin-top: 1vh;
}

#main-header {
	margin: 0;
	display: grid;
	grid-template-columns: 1.25fr 2.75fr;
	grid-template-rows: 1fr;
	height: 13vh;
}

#counters-div {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.counter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#icon-div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#icon-div img {
	width: calc(min(100%, 12vh));
}

#icon-div p {
	margin: 0;
}

#bio {
	min-height: 5vh;
	max-height: 9vh;
	overflow-y: hidden;
	font-size: small;
	word-break: break-all;
}

#profile-links {
	height: 5vh;
	width: 90vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	column-gap: 5vw;
}

#profile-links button {
	background-color: var(--disable-color);
	color: var(--text-color-light);
}

#user-announcements {
	grid-row: 4;
	display: flex;
	flex-wrap: wrap;
	min-height: 81vh;
}

#search {
	background-color: transparent;
	border: none;
}
