<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/tarnow-icon.png" />
		<title>Error 404</title>
		<style>
			* {
				text-align: center;
				font-size: 150%;
				user-select: none;
			}
		</style>
	</head>
	<body>
		<h1>Error 404</h1>
		<h6>bruh</h6>
	</body>
</html>
