<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="ow-icon.png" />

		<title>Nasze osiedle</title>
		<link rel="stylesheet" href="default.css" />
		<link rel="stylesheet" href="mojeOsiedle.css" />
	</head>
	<body>
		<footer></footer>
		<header></header>
		<!-- CHYBA NIE POTREBNE!!!! <div class="topBar">
			<label>
				<p>Filtruj:</p>
			</label>
		</div> -->
		<main>
			<div class="anounceGrid">
				<div class="announce">
					<div class="annouceHeader">
						<img class="announceProfile" src="image.jpg" alt="" />
						<div>
							<p class="announcName">Kebastian Siusior</p>
							<p class="announcDate">6 dni temu</p>
						</div>
					</div>
					<div class="announceContent">
						<hr />
						<p class="annouceText">Wywóz śmieci - już 24 stycznia</p>
						<img class="annouceImg" src="image.jpg" alt="" />
						<div class="bar">
							<button class="likeButton">
								<img src="icons/heartOff.png" alt="Like" />
								<p class="likeCount">12</p>
							</button>
							<button class="commentButton" onclick="">
								<img src="icons/commentIcon.png" alt="Comment" />
								<p class="commentCount">5</p>
							</button>
						</div>
						<div class="comment">
							<img class="commentProfile" src="image.jpg" alt="" />
							<input type="text" name="" id="" />
						</div>
					</div>
				</div>

				<div class="announce">
					<div class="annouceHeader">
						<img class="announceProfile" src="image.jpg" alt="" />
						<div>
							<p class="announcName">Kebastian Siusior</p>
							<p class="announcDate">6 dni temu</p>
						</div>
					</div>
					<div class="announceContent">
						<hr />
						<p class="annouceText">Wywóz śmieci - już 24 stycznia</p>
						<img class="annouceImg" src="image.jpg" alt="" />
						<div class="bar">
							<button class="likeButton">
								<img src="icons/heartOff.png" alt="Like" />
								<p class="likeCount">12</p>
							</button>
							<button class="commentButton">
								<img src="icons/commentIcon.png" alt="Comment" />
								<p class="commentCount">5</p>
							</button>
						</div>
					</div>
				</div>
				<div class="announce">
					<div class="annouceHeader">
						<img class="announceProfile" src="image.jpg" alt="" />
						<div>
							<p class="announcName">Kebastian Siusior</p>
							<p class="announcDate">6 dni temu</p>
						</div>
					</div>
					<div class="announceContent">
						<hr />
						<p class="annouceText">Wywóz śmieci - już 24 stycznia</p>
						<img class="annouceImg" src="image.jpg" alt="" />
						<div class="bar">
							<button class="likeButton">
								<img src="icons/heartOff.png" alt="Like" />
								<p class="likeCount">12</p>
							</button>
							<button class="commentButton">
								<img src="icons/commentIcon.png" alt="Comment" />
								<p class="commentCount">5</p>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div id="waste-of-space" style="height: 20vh; width: 100vw">&nbsp;</div>
		</main>
		<script src="/init.js"></script>
	</body>
</html>
