.brd_row .letter {
	height: 1.75em;
	margin: 0.5%;
}

.brd_row .green {
	margin-left: 10%;
	background-color: #79b851;
}

.brd_row .yellow {
	background-color: #f3c237;
}

.brd_row .red {
	background-color: #c21b1b;
}

@keyframes rotate {
	0% {
		transform: rotateX(0deg);
	}

	49% {
		transform: rotateX(90deg);
	}

	100% {
		transform: rotateX(0deg);
	}
}
