:root {
	--background-color: #fdfcdc;
	--background-color2: #fed9b7;
	--accent-color: #0081a7;
	--accent-color-light: #009ccc;
	--text-color: #01161e;
	--disable-color: #333;
	--text-color-light: #feeae1;
	--background-color-dark: #f7b06e;
	--sepia: #a7936e;
}

body,
html {
	margin: 0 !important;
	padding: 0 !important;
	min-height: 100vh;
	width: 100vw;
	overflow-x: clip;
}

* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

body {
	/* background-color: var(--background-color);
	background-size: 200% 200%;
	background-image: radial-gradient(#ffdf9e 70%, transparent 25%); */
	background-image: url("background.png");
	background-repeat: repeat;
	background-size: 100% 100%;
	/* background: linear-gradient(to top right, var(--accent-color), #ffe8c6 15%, #ffe8c6 85%, var(--accent-color) 95%); */
	/* background-size: 100% 100%; */
}

header {
	z-index: 999;
	position: absolute;
	top: 1vh;
	user-select: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 10vh;
}
header h1 {
	padding: 0;
	margin-left: 2%;
	margin-block-start: 0.5vh;
	margin-block-end: 0vh;
	float: left;
}
header #header-buttons {
	display: flex;
	justify-content: right;
	gap: 1vw;
	align-items: center;
	margin-right: 2%;
	margin-block-start: 1vh;
	margin-block-end: 1vh;
}
.button {
	width: 10vw;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 0;
	cursor: pointer;
	padding: 0;
	/* background-color: var(--accent-color-light); */
	background-color: rgb(235, 136, 22);
	color: var(--text-color);
	font-weight: bold;
}

.button2 {
	position: fixed;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1002;
	width: 160px;
	border-radius: 10px;
	box-shadow: 0 0 5px #777;
}

.button:hover {
	filter: brightness(90%);
}
.button:active {
	filter: brightness(70%);
}
.button img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin: auto;
	/* padding: 0 0 0 12.5%; */
}
footer {
	z-index: 1000;
	user-select: none;
	position: fixed !important;
	top: 93vh;
	/* bottom: 0; */
	left: 0;
	width: 100vw;
	height: 0vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	background-color: var(--disable-color);
	color: var(--text-color);
}
footer .footer-option {
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--accent-color);
}

footer .footer-option a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--accent-color);
}

footer .footer-option a img {
	width: 5vh;
}

footer .footer-option a img.footer-img-focus {
	background: radial-gradient(#ffffff99, #00000000, #00000000);
}

img.icon {
	width: calc(10vh / 3);
}

a {
	text-decoration: none;
	color: var(--text-color);
}
.likeButton img,
.commentButton img {
	width: 2em !important;
	height: 2em !important;
}
