.flex {
	margin: 0.2em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: larger;
}

.kb_row button:disabled {
	background-color: #444;
}

.undos {
	height: 50%;
	opacity: 1;
}
