#table {
	width: 65vw;
	height: 60vh;
	background-image: radial-gradient(#6eac1b, #5aa412, #3b8005, #145404);
	border-radius: 30vh;
	border: 2vh solid #674420;
}

#table::before {
	content: "";
	position: relative;
	display: block;
	top: -3vh;
	left: -3vh;
	width: calc(65vw + 6vh);
	height: 66vh;
	border-radius: 31.5vh;
	z-index: -1;
	background-color: #59341c;
	box-shadow: 0 0 1vh black;
}

.card {
	width: 7vw;
	height: 18vh;
	background-size: 7vw 18vh;
	margin: 0 0.25vw;
}

.player-cards,
#community-cards {
	display: flex;
	justify-content: center;
	align-items: center;
}

#players-container {
	position: absolute;
	top: 12vh;
	left: 15vw;
}

#community-cards {
	transform: translateY(-46.5vh);
}

#settings {
	position: absolute;
	top: 10vh;
	left: 15vw;
	height: 80vh;
	width: 70vw;
	justify-content: baseline;
	align-items: center;
	flex-direction: column;
	background-color: rgba(127, 127, 127, 0.95);
	border: 2vh solid rgba(0, 0, 0, 0.75);
	border-radius: 5vh;
}
