.brd_row .letter,
.brd_row .event {
	background-color: #888;
	font-size: x-large;
	font-weight: bolder;
	color: #fff;
	text-align: center;
	height: 2.5em;
	aspect-ratio: 1 / 1;
	margin: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.4s;
	animation-duration: 0.8s;
	animation-fill-mode: forwards;
	animation: to_red 2s linear 0ms 1 alternate forwards;
}

.brd_row .event {
	margin-right: 3em;
}

.brd_row .event img {
	height: 2.25em;
	aspect-ratio: 1 / 1;
}

.brd_row span {
	min-width: 20em;
	max-width: 20em;
	word-wrap: break-word;
	color: var(--txt);
}

@keyframes rotate {
	0% {
		transform: rotateX(0deg);
	}

	49% {
		transform: rotateX(90deg);
	}

	100% {
		transform: rotateX(0deg);
	}
}
