* {
	font-family: "PressStart2P-codeman38" !important;
	font-size-adjust: 0.6 !important;
}

#settings div {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: start;
}

#settings #first-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
}

#settings #first-div div {
	margin: 0.5em;
	height: 2em;
	width: 15em;
	background-color: #666666;
	opacity: 1;
	border-radius: 1em;
	box-shadow: 0 0 0.5em #ddd;
	font-weight: bold;
	transition: background-color 0.5s linear, box-shadow 0.5s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	border: 3px inset black;
}

#settings #first-div div:hover {
	background-color: #555;
	box-shadow: 0 0 0.8em #fff;
}

#settings #first-div div:active {
	background-color: #333;
	box-shadow: 0 0 0.5em #fff;
	color: #aaa;
}

#settings label {
	position: relative;
	top: 1vh;
}

input[type="number"]::-webkit-inner-spin-button {
	height: 1.3em;
	width: 1.5em;
}

@media screen and (max-width: 800px) {
	#settings,
	#settings *,
	#settings * * {
		font-size: small;
	}

	#settings {
		height: 70%;
	}

	input[type="number"] {
		width: 3em;
	}
}

.powerup-toggle {
	background-size: 10vh 10vh;
	background-color: #999999;
	width: 10vh !important;
	height: 10vh;
	border-radius: 33%;
}

canvas {
	height: 100%;
}

footer {
	border-top: 1px solid var(--txt);
}

#win-block {
	position: absolute;
	top: 10vh;
	width: 14vw;
	height: 10vh;
	border: 1vw solid white;
	border-radius: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2vw;
	opacity: 0;
}

#score {
	position: absolute;
	top: 10vh;
	left: 0;
	width: 96vw;
	display: flex;
	justify-content: space-between;
	align-items: start;
	font-size: 12.5vh;
	padding: 0 2vw;
}
