.brd_row .letter {
	height: 2em;
	margin: 3px;
}

.brd_row[index="0"] {
	margin: -1em 0 1em;
}

.brd_row[index="0"] img {
	height: 1.75em;
	aspect-ratio: 1 / 1;
}

@keyframes rotate {
	0% {
		transform: rotateX(0deg);
	}

	49% {
		transform: rotateX(90deg);
	}

	100% {
		transform: rotateX(0deg);
	}
}

.event_tooltip {
	height: 5em;
	width: 50%;
	top: 3.4rem;
}

.brd_row[index="0"] .letter:hover ~ .event_tooltip {
	display: flex;
}
